<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../layouts/head %>
</head>

<body class="container">
    <!-- header -->
    <% include ../layouts/header %>
    <!-- main -->




    <!-- main -->
    </div>
    </div>
    </div>
    <footer>
        <% include ../layouts/footer %>
    </footer>

</body>